#p1{
    color:blue;
    background-color:white;
    }



#p2{
    color:white;
    background-color:green;
    }



#p3{
    color:white;
    background-color: crimson;
    }




#p4{
    color: white;
    background-color: orange;
    font-size: 36px;
    text-align: center;
}